// Anpassungen Topbar
$topbar-bg: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(109,179,242,1) 4%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 96%,rgba(0,0,0,1) 100%);
$topbar-link-bg: $topbar-bg;
$topbar-dropdown-bg: $topbar-bg;
$topbar-dropdown-link-bg: linear-gradient(to bottom, rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%);
$topbar-dropdown-link-bg-hover: linear-gradient(to bottom, rgba(172,208,239,1) 0%,rgba(166,202,237,1) 50%,rgba(115,177,239,1) 51%,rgba(108,153,221,1) 100%);
$topbar-link-bg-hover: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(172,208,239,1) 4%,rgba(166,202,237,1) 50%,rgba(115,177,239,1) 51%,rgba(108,153,221,1) 96%,rgba(0,0,0,1) 100%);
$topbar-link-color: #ffffff;
$topbar-link-color-hover: #ffffff;
$topbar-link-color-active: #ffffff;
$topbar-link-color-active-hover: #ffffff;
$hr-border-color: #bababa;


// import the CSS framework
@import "foundation";
@import "foundation-icons";

button.radius, .button.radius {
  display: inline;
  padding: 5px;
  font-color: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button.radius:visited, button.radius:visited {
  color: white;
}
// THESE ARE EXAMPLES YOU CAN MODIFY
// create mixins using Foundation classes
@mixin twelve-columns {
  @extend .small-12;
  @extend .columns;
  }
@mixin six-columns-centered {
  @extend .small-6;
  @extend .columns;
  @extend .text-center;
  }
// create your own classes
// to make views framework-neutral
.column {
  @include six-columns-centered;
  }
.form {
  @include grid-column(6);
  }
.form-centered {
  @include six-columns-centered;
  }
.submit {
  @extend .button;
  @extend .radius;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @include twelve-columns;
  background-color: white;
  }
section {
  @extend .row;
  margin-top: 20px;
  }
.icon-red {
  color: red;
  font-size: 1.2em;
}

.icon-blue {
  color: blue;
  font-size: 1.2em;
}

.icon-green {
  color: green;
  font-size: 1.2em;
}
.white-back {
  background-color: white;
}

.header {
  width: 100%;
  background-color: white;
  border: 0;
  margin: 0;
}
.header .td {
  width: 50%;
}

.center {
  align: center;
}

div.mainpart {
  width: 100%;  
  padding: 15px;
  margin-right: 10px;
  margin-top: 15px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.error_box {
  width: 100%;  
  padding: 10px;
  margin-right: 10px;
  margin-top: 15px;
  background-color: #f2f2f2;
  color: red;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.error_box h4 {
  color: red;
}
div.footer {
  text-align: right;
  width: 100%;  
  padding: 15px;
  margin-right: 10px;
  margin-top: 15px;
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}