<%= form_for [@employee, @indextool] do |f| %>


    

    <div class="row">
      <div class="medium-3 columns">
       <%= f.label :employee_id %>
      </div>
      <div class="medium-9 columns">
        <%= f.text_field :employee_id %>
      </div>
    </div>  
      <div class="row">
      <div class="medium-12 columns">
        <%= f.submit %>
      </div>
    </div>  
  <% end %> 