<h1>Login</h1>

<%= form_tag(employee_session_path) do %>
	<p>
		<%= label_tag :Personalnummer %>
		<%= text_field_tag :Personalnummer, nil, autofocus: true %>
	</p>
	<p>
		<%= submit_tag 'Einloggen' %>
	</p>

<% end %>